# Pandas problems and examples

In [1]:
# Example

import numpy as np

import pandas as pd

In [ ]:
arr = np.random.randint(1, 100, (10,10))

df = pd.DataFrame(arr)

In [4]:
# changing name of rows/index

df.index = ["R" + str(i) for i in range(1, 11)]

In [5]:
df.columns = ["C" + str(i) for i in range(1, 11)]

In [6]:
df

     C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
R1   24  40   7  77  99  16  19   3  66   63
R2   75  91  94  78  68   6  34  56  97   60
R3   97  17  44  62  60  42  83  80  99   39
R4   80  22   4  84  76  67  21  17  60   41
R5   33  60  97  71  37  45  87  18  90   91
R6   80  65  28  48   6   9  35  29  39    4
R7    8  24  42  17  84  21  94  19  43   79
R8   76  47  80  63  84  58  63  78  22   12
R9   39  21  16  65  79  32  87  69  98   81
R10  73  95  48   6  79  97  29  31  24   77