In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pt

In [5]:
df = pd.read_csv('C:/Users/suhel/Desktop/2ndSemester/Stats and Prob/gapminder-FiveYearData.csv')

In [9]:
print(df)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [16]:
head_data = df.head() # first 5 data-set from table
print(head_data)

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [17]:
tail_data = df.tail() # last 5 data-set from table
print(tail_data)

       country  year         pop continent  lifeExp   gdpPercap
1699  Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700  Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701  Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702  Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [22]:
rows_and_cols = df.shape # to calculate no. of rows and cols in the data-set
print(rows_and_cols)

(1704, 6)

In [24]:
print(df.columns) # to get the cols name of the table

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [26]:
print(df.dtypes) # to get the data-types of each cols

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [27]:
print(df.info()) # to know more information of the data-set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

## Looking at Columns, Rows, and Cells

In [30]:
country_df = df['country'] # get the 'country' columns

In [31]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [32]:
print(country_df.head()) # show the first five observations

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [33]:
print(country_df.tail()) #show the last 5 observations

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [37]:
subset_df = df[['country', 'continent', 'year']] # looking at country, continent, and year
print(subset_df)

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

In [40]:
print(subset_df.head()) # fisrt 5

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [41]:
print(subset_df.tail()) # last 5

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

### Subset Rows by Index Label : loc

In [44]:
print(df.head()) # first five rows

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [45]:
print(df.loc[0]) # get the first row

country      Afghanistan
year                1952
pop            8425333.0
continent           Asia
lifeExp           28.801
gdpPercap     779.445314
Name: 0, dtype: object

In [46]:
print(df.loc[99]) # get the 100th row

country      Bangladesh
year               1967
pop          62821884.0
continent          Asia
lifeExp          43.453
gdpPercap    721.186086
Name: 99, dtype: object

In [47]:
print(df.tail(n=1)) # get the last row

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [49]:
print(df.loc[[0, 99, 999]]) # get the 1st, 100th, 1000th rows

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

### Subset rows by Row Number: iloc

In [50]:
print(df.iloc[1]) # get the 2nd row

country      Afghanistan
year                1957
pop            9240934.0
continent           Asia
lifeExp           30.332
gdpPercap      820.85303
Name: 1, dtype: object

In [51]:
print(df.iloc[99]) # get the 100th row

country      Bangladesh
year               1967
pop          62821884.0
continent          Asia
lifeExp          43.453
gdpPercap    721.186086
Name: 99, dtype: object

In [53]:
print(df.iloc[-1]) # using -1 to get the last row. NOTE: -1 is not allowed in loc[..]

country        Zimbabwe
year               2007
pop          12311143.0
continent        Africa
lifeExp          43.487
gdpPercap    469.709298
Name: 1703, dtype: object

In [54]:
print(df.iloc[[0, 99, 999]]) # get the 1st, 100th, and the 1000th rows

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

# Subsetting Columns

In [56]:
subset_col = df.loc[:, ['year', 'pop']] # slicing syntax for cols
print(subset_col)

      year         pop
0     1952   8425333.0
1     1957   9240934.0
2     1962  10267083.0
3     1967  11537966.0
4     1972  13079460.0
...    ...         ...
1699  1987   9216418.0
1700  1992  10704340.0
1701  1997  11404948.0
1702  2002  11926563.0
1703  2007  12311143.0

[1704 rows x 2 columns]

In [58]:
subset_icol = df.iloc[:, [2, 4, -1]] # subset columns with iloc; allows integers; -1 select last col
print(subset_icol)

             pop  lifeExp   gdpPercap
0      8425333.0   28.801  779.445314
1      9240934.0   30.332  820.853030
2     10267083.0   31.997  853.100710
3     11537966.0   34.020  836.197138
4     13079460.0   36.088  739.981106
...          ...      ...         ...
1699   9216418.0   62.351  706.157306
1700  10704340.0   60.377  693.420786
1701  11404948.0   46.809  792.449960
1702  11926563.0   39.989  672.038623
1703  12311143.0   43.487  469.709298

[1704 rows x 3 columns]

## Subsetting Columns by Range

In [59]:
small_range = list(range(5)) # create a range of integers from 0 to 4
print(small_range)

[0, 1, 2, 3, 4]

In [62]:
subset_index = df.iloc[:, small_range] # subset the data-frame with the range 
print(subset_index)

          country  year         pop continent  lifeExp
0     Afghanistan  1952   8425333.0      Asia   28.801
1     Afghanistan  1957   9240934.0      Asia   30.332
2     Afghanistan  1962  10267083.0      Asia   31.997
3     Afghanistan  1967  11537966.0      Asia   34.020
4     Afghanistan  1972  13079460.0      Asia   36.088
...           ...   ...         ...       ...      ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351
1700     Zimbabwe  1992  10704340.0    Africa   60.377
1701     Zimbabwe  1997  11404948.0    Africa   46.809
1702     Zimbabwe  2002  11926563.0    Africa   39.989
1703     Zimbabwe  2007  12311143.0    Africa   43.487

[1704 rows x 5 columns]

## Subsetting Rows and Columns

In [63]:
print(df.loc[42, 'country']) # using loc

Angola

In [64]:
print(df.iloc[42, 0]) # using iloc

Angola

## Subsetting the Multiple Rows and Colums

In [65]:
print(df.iloc[[0, 99, 999], [0, 3, 5]]) # get the 1st, 100th, 100th rows from the 1st, 4th, and 6th cols

         country continent    gdpPercap
0    Afghanistan      Asia   779.445314
99    Bangladesh      Asia   721.186086
999     Mongolia      Asia  1226.041130

In [68]:
print(df.loc[[0, 99, 999], ['country', 'continent', 'gdpPercap']]) # using cols name directly-- readabilty increases

         country continent    gdpPercap
0    Afghanistan      Asia   779.445314
99    Bangladesh      Asia   721.186086
999     Mongolia      Asia  1226.041130

In [69]:
print(df.loc[10:13, ['country', 'continent', 'gdpPercap']]) # from 10 to 13 rows

        country continent    gdpPercap
10  Afghanistan      Asia   726.734055
11  Afghanistan      Asia   974.580338
12      Albania    Europe  1601.056136
13      Albania    Europe  1942.284244

In [70]:
print(df.head(n=10)) # printing first 10 rows

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106
5  Afghanistan  1977  14880372.0      Asia   38.438  786.113360
6  Afghanistan  1982  12881816.0      Asia   39.854  978.011439
7  Afghanistan  1987  13867957.0      Asia   40.822  852.395945
8  Afghanistan  1992  16317921.0      Asia   41.674  649.341395
9  Afghanistan  1997  22227415.0      Asia   41.763  635.341351